.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center_div{
  margin-top: 100px;
  box-shadow: 5px 5px 5px 5px;
  height:500px;
}

.margin_form_elements{
 margin-top:50px;
}

.margin_elements_login{
  margin-top:50px;
 }

 .header_css{
  background-color: darkseagreen;
  margin-top: 80px;
 }
 
 .margin_dash_header{
   margin-top:50px;
 }